.subscriptionClass{
    border-radius: 4px;
    background-color: #604cb3;
    border: 1px solid #1b1b38 !important;
    outline: none;
    padding: 6px 10px;
}
.RegularClass{
    border-radius: 4px;
    border: 1px solid #1b1b38 !important;
    outline: none;
    padding: 6px 10px;
}