.theme-options{
    max-width: 800px;
    margin: 0 auto;
    text-align: right;
    padding: 20px 0;
    div{
        cursor:pointer;
        width: 20px;
        height: 20px;
        border-radius: 4px;
        margin: 2px 10px;
        border: 1px solid #fff;
        display: inline-block;
        opacity: 0.5;
        &.active{
            opacity: 1;
        }
    }
#theme-white{
    background-color: #eee;
}
#theme-blue{
    background-color: #1e41c1;
}
#theme-orange{
    background-color: #b64b1e;
}
#theme-purple{
    background-color: #7852ae;
}
#theme-green{
    background-color: #5faf3b;
}
#theme-black{
    background-color: #000;
}
}

.content.theme-blue{
    background-color:blue;
    .content-box{
        background-color:blue;
        h3,
        h5{
            color: #b64b1e;
        }
    }
}
.content.theme-orange{
    background-color:orange;
    .content-box{
        background-color:orange;
        h3,
        h5{
            color: black;
        }
    }
}
.content.theme-green{
    background-color:green;
    .content-box{
        background-color:green;
        h3,
        h5{
            color:yellow;
        }
    }
}
.content.theme-white{
    background-color:white;
    .content-box{
        background-color:white;
        h3,
        h5{
            color:black;
        }
    }
}
.content.theme-black{
    background-color:black;
    .content-box{
        background-color:black;
        h3,
        h5{
            color:white;
        }
    }
}