<div class="content {{storedTheme}}" role="main">
    {{storedTheme}}
    <div class="theme-options">
        <div id="theme-white" (click)="setTheme('theme-white')"></div>
        <div id="theme-blue" (click)="setTheme('theme-blue')"></div>
        <div id="theme-orange" (click)="setTheme('theme-orange')"></div>
        <div id="theme-green" (click)="setTheme('theme-green')"></div>
        <div id="theme-black" (click)="setTheme('theme-black')"></div>

    </div>

    <div class="content-box">
        <h3>Hello Tejas</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis nisi repellendus animi, architecto
            laudantium, consequuntur commodi distinctio repellat ipsum voluptas, vero quam numquam. Labore eveniet,
            porro impedit nostrum cupiditate voluptates!</p>
    </div>
</div>